{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["airbnb-base"],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "linebreak-style": "off",
        "indent": ["error", 4],
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "exports": "always-multiline",
                "functions": "never",
                "imports": "always-multiline",
                "objects": "always-multiline"
            }
        ],
        "consistent-return": "off"
    },
    "root": true
}
